Repository JuliaParallel/Dagger.jl, pull requests merged in 2021-07, with the labels that each got.

#227 toward full documentation
  .github/workflows/Documentation.yml
  .gitignore
  Project.toml
  README.md
  docs/make.jl
  docs/src/api/functions.md
  docs/src/api/types.md
  src/array/darray.jl
  src/chunks.jl
  src/file-io.jl
  src/processor.jl
  src/sch/Sch.jl
  src/thunk.jl
Labels: documentation

#234 Fix unsafe usage of Base.Condition
  .github/workflows/reverse_CI_JuliaDB.yml.bak
  Project.toml
  appveyor.yml
  src/sch/Sch.jl
  src/sch/eager.jl
Labels: bug, scheduler

#223 Fix memory leaks in eager API
  Project.toml
  src/Dagger.jl
  src/chunks.jl
  src/sch/Sch.jl
  src/sch/dynamic.jl
  src/sch/eager.jl
  src/sch/util.jl
  src/thunk.jl
  test/runtests.jl
  test/scheduler.jl
  test/thunk.jl
Labels: bug, scheduler

#237 Quiet restore failures with nothing result
  docs/src/checkpointing.md
  src/sch/Sch.jl
  src/sch/util.jl
  test/checkpoint.jl
  test/runtests.jl
  test/util.jl
Labels: checkpointing, enhancement

#244 Temp. fix for clocks on non-Linux
  .ci/test.jl
  .github/workflows/ci-julia-1.6-nightly.yml
  Project.toml
  src/sch/Sch.jl
  src/sch/clocks.jl
Labels: bug, ci
