Repository JuliaParallel/Dagger.jl, pull requests merged in 2021-01, with the labels that each got.

#185 Add timeout to buildkite jobs
  .buildkite/pipeline.yml
Labels: ci

#181 Add at-spawn macro for eager scheduling
  Project.toml
  docs/src/index.md
  src/sch/Sch.jl
  src/sch/dynamic.jl
  src/sch/eager.jl
  src/sch/fault-handler.jl
  src/sch/util.jl
  src/thunk.jl
  test/runtests.jl
  test/scheduler.jl
  test/thunk.jl
  test/util.jl
Labels: enhancement, scheduler

#168 Fix size method for Reducedim
  src/array/map-reduce.jl
Labels: array interface, bug

#188 Meta thunks run normally
  src/sch/Sch.jl
  src/thunk.jl
  test/scheduler.jl
Labels: data movement, scheduler

#195 Add checkpoint/restore
  docs/make.jl
  docs/src/checkpointing.md
  src/sch/Sch.jl
  test/checkpoint.jl
  test/runtests.jl
Labels: enhancement, fault handling

#198 Move tests CI to juliacpu queue
  .buildkite/pipeline.yml
Labels: ci
