Repository JuliaParallel/Dagger.jl, pull requests merged in 2021-12, with the labels that each got.

#287 [DTable] Leftjoin
  Project.toml
  docs/src/api/functions.md
  docs/src/dtable.md
  src/Dagger.jl
  src/table/dtable.jl
  src/table/groupby.jl
  src/table/join.jl
  src/table/join_interface.jl
  src/table/operations.jl
  src/table/tables.jl
  test/table.jl
Labels: enhancement, table interface

#317 Make system UUID determination atomic
  src/utils/system_uuid.jl
Labels: bug

#310 Don't clobber the scheduler
  lib/DaggerWebDash/src/index.html
  src/processor.jl
  src/sch/Sch.jl
  src/sch/dynamic.jl
  src/sch/util.jl
  src/scopes.jl
  test/logging.jl
  test/runtests.jl
  test/scheduler.jl
Labels: bug, scheduler, performance
