Repository JuliaParallel/Dagger.jl, pull requests merged in 2022-07, with the labels that each got.

#350 Remove `poolset` kwarg that doesn't exist anymore
  Project.toml
  src/array/darray.jl
  src/chunks.jl
  src/compute.jl
  src/sch/Sch.jl
Labels: bug, upstream, storage

#351 eager: Force kill scheduler on exit
  src/sch/eager.jl
  test/thunk.jl
Labels: bug

#352 WebDash: Add direct Tables dep, add TableStorage
  .buildkite/pipeline.yml
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
  .github/workflows/reverse_CI_JuliaDB.yml.bak
  benchmarks/benchmark.jl
  lib/DaggerWebDash/Project.toml
  lib/DaggerWebDash/src/DaggerWebDash.jl
  lib/DaggerWebDash/src/d3.jl
  lib/DaggerWebDash/src/tables.jl
  src/lib/logging-extras.jl
Labels: bug, ui, table interface, logging

#289 Add memory and storage awareness
  .buildkite/pipeline.yml
  .github/workflows/Documentation.yml
  Project.toml
  appveyor.yml
  benchmarks/analysis.jl
  benchmarks/benchmark.jl
  benchmarks/suites/array.jl
  benchmarks/suites/dtable.jl
  benchmarks/suites/nmf.jl
  src/Dagger.jl
  src/chunks.jl
  src/options.jl
  src/processor.jl
  src/sch/Sch.jl
  src/sch/dynamic.jl
  src/sch/eager.jl
  src/sch/util.jl
  src/thunk.jl
  test/runtests.jl
  test/scheduler.jl
Labels: enhancement, needs tests, scheduler, performance, data movement, needs docs, storage

#353 Sch: Fix Some{Any} in CHUNK_CACHE
  src/sch/Sch.jl
Labels: bug, scheduler

#354 Split out logging as TimespanLogging.jl
  .buildkite/pipeline.yml
  Manifest.toml
  Project.toml
  benchmarks/benchmark.jl
  benchmarks/suites/dtable.jl
  docs/src/logging.md
  lib/DaggerWebDash/Project.toml
  lib/DaggerWebDash/src/DaggerWebDash.jl
  lib/DaggerWebDash/src/core.jl
  lib/DaggerWebDash/src/d3.jl
  lib/DaggerWebDash/src/tables.jl
  lib/DaggerWebDash/test/Project.toml
  lib/DaggerWebDash/test/runtests.jl
  lib/TimespanLogging/.gitignore
  lib/TimespanLogging/Project.toml
  lib/TimespanLogging/src/TimespanLogging.jl
  lib/TimespanLogging/src/core.jl
  lib/TimespanLogging/src/extras.jl
  lib/TimespanLogging/test/Project.toml
  lib/TimespanLogging/test/runtests.jl
  src/Dagger.jl
  src/compute.jl
  src/lib/logging-events.jl
  src/processor.jl
  src/sch/Sch.jl
  src/ui/graph.jl
  test/logging.jl
Labels: logging
