Repository JuliaParallel/Dagger.jl, pull requests merged in 2023-07, with the labels that each got.

#401 DArray: Figure out correct eltype
  .buildkite/pipeline.yml
  src/array/darray.jl
  src/array/map-reduce.jl
  test/array.jl
Labels: bug, array interface

#402 DArray: Improve DiffEq support
  src/array/alloc.jl
  src/array/darray.jl
  src/array/operators.jl
  test/array.jl
Labels: array interface

#398 Implement task queues for configurable task launch
  docs/make.jl
  docs/src/task-queues.md
  src/Dagger.jl
  src/chunks.jl
  src/compute.jl
  src/eager_thunk.jl
  src/queue.jl
  src/sch/Sch.jl
  src/sch/dynamic.jl
  src/sch/eager.jl
  src/sch/fault-handler.jl
  src/sch/util.jl
  src/submission.jl
  src/thunk.jl
  src/utils/dagdebug.jl
  test/runtests.jl
  test/task-queues.jl
Labels: enhancement, scheduler, performance, eager api

#336 Add DArray documentation
  docs/make.jl
  docs/src/darray.md
Labels: documentation, array interface

#408 DArray: Operations always return DArrays, and add local partition support for MPI
  docs/src/darray.md
  docs/src/index.md
  src/array/alloc.jl
  src/array/darray.jl
  src/array/getindex.jl
  src/array/map-reduce.jl
  src/array/matrix.jl
  src/array/operators.jl
  src/array/sort.jl
  src/sch/Sch.jl
  test/array.jl
Labels: enhancement, array interface

#361 `enable_disk_caching` function for handling MemPool storage setup
  .buildkite/pipeline.yml
  Manifest.toml
  Project.toml
  src/Dagger.jl
  src/utils/caching.jl
  test/cache_setup_test.jl
  test/diskcaching.jl
  test/runtests.jl
Labels: enhancement, data movement, storage

#409 at-mutable: Add remote execution like shard
  docs/src/data-management.md
  docs/src/index.md
  src/chunks.jl
  test/mutation.jl
Labels: enhancement, data movement, breaking

#412 Add CompatHelper, UB StatsBase to 0.34
  .github/workflows/CompatHelper.yml
  Manifest.toml
  Project.toml
Labels: ci
