Repository JuliaParallel/Dagger.jl, pull requests merged in 2024-08, with the labels that each got.

#546 Add rand! implementation
  Project.toml
  docs/src/darray.md
  ext/DistributionsExt.jl
  src/Dagger.jl
  src/array/cholesky.jl
  src/array/operators.jl
  src/array/random.jl
  src/datadeps.jl
  src/memory-spaces.jl
  test/Project.toml
  test/array/core.jl
  test/array/random.jl
  test/datadeps.jl
  test/runtests.jl
Labels: array interface

#565 LU implementation for DArray
  .buildkite/pipeline.yml
  Project.toml
  docs/src/darray.md
  src/Dagger.jl
  src/array/linalg.jl
  src/array/lu.jl
  test/array/linalg/cholesky.jl
  test/array/linalg/lu.jl
  test/runtests.jl
Labels: array interface

#557 Add task/scheduler cancellation API
  docs/src/task-spawning.md
  src/Dagger.jl
  src/cancellation.jl
  src/precompile.jl
  src/sch/Sch.jl
  src/sch/eager.jl
  src/threadproc.jl
  src/utils/dagdebug.jl
  test/scheduler.jl
Labels: error handling, eager api, cancellation

#560 Task names, and various GraphVizExt and PlotsExt improvements
  docs/src/logging-visualization.md
  ext/GraphVizExt.jl
  ext/JSON3Ext.jl
  ext/PlotsExt.jl
  src/Dagger.jl
  src/array/darray.jl
  src/datadeps.jl
  src/sch/Sch.jl
  src/submission.jl
  src/utils/logging-events.jl
  src/utils/logging.jl
  src/utils/viz.jl
  src/visualization.jl
  test/logging.jl
Labels: eager api, logging, visualization

#570 use user given task names in chrome trace
  ext/JSON3Ext.jl
  src/utils/logging.jl
Labels: logging, visualization
