Repository JuliaParallel/Dagger.jl, pull requests merged in 2024-05, with the labels that each got.

#505 DArray: Add automatic partitioning and show array elements
  docs/src/darray.md
  src/array/alloc.jl
  src/array/darray.jl
  src/array/indexing.jl
  test/array/allocation.jl
  test/array/copyto.jl
  test/array/core.jl
  test/array/indexing.jl
  test/runtests.jl
Labels: array interface

#510 Add a section to the documentation about code loading
  README.md
  docs/src/index.md
Labels: documentation

#511 Add type restrictions to Base.isless() methods to fix invalidations
  src/scopes.jl
Labels: latency

#513 logging/viz: Some fixes, and more docstrings
  docs/Project.toml
  docs/make.jl
  docs/src/api-timespanlogging/functions.md
  docs/src/api-timespanlogging/types.md
  docs/src/logging-visualization.md
  ext/GraphVizExt.jl
  ext/PlotsExt.jl
  src/sch/dynamic.jl
  src/utils/logging-events.jl
  src/utils/logging.jl
  src/visualization.jl
Labels: bug, documentation, logging, visualization

#518 Rename EagerThunk to DTask
  docs/src/api-dagger/functions.md
  docs/src/api-dagger/types.md
  docs/src/darray.md
  docs/src/task-queues.md
  docs/src/task-spawning.md
  docs/src/use-cases/parallel-nested-loops.md
  ext/GraphVizExt.jl
  ext/PlotsExt.jl
  src/Dagger.jl
  src/array/matrix.jl
  src/array/sort.jl
  src/chunks.jl
  src/datadeps.jl
  src/dtask.jl
  src/memory-spaces.jl
  src/queue.jl
  src/sch/dynamic.jl
  src/sch/eager.jl
  src/sch/util.jl
  src/submission.jl
  src/thunk.jl
  src/utils/logging-events.jl
  test/task-queues.jl
  test/thunk.jl
Labels: documentation, eager api

#524 Datadeps: Add aliasing awareness and GPU support
  docs/src/datadeps.md
  ext/LuxorExt.jl
  src/Dagger.jl
  src/array/cholesky.jl
  src/datadeps.jl
  src/dtask.jl
  src/memory-spaces.jl
  src/sch/Sch.jl
  src/sch/util.jl
  test/Project.toml
  test/array/linalg/cholesky.jl
  test/datadeps.jl
  test/runtests.jl
  test/scheduler.jl
Labels: gpu, needs docs, datadeps

#525 DArray: Fix broken indexing caching
  src/array/darray.jl
Labels: bug, array interface
