Repository JuliaParallel/Dagger.jl, pull requests merged in 2024-03, with the labels that each got.

#481 `@shard`: Construct shards in parallel
  src/chunks.jl
Labels: enhancement, performance

#484 Reference Dagger.EAGER_THUNK_STREAMS explicitly
  src/sch/eager.jl
  src/submission.jl
Labels: bug, streaming

#485 DArray: Fixes and improvements for mapreduce operations
  Manifest.toml
  Project.toml
  docs/src/darray.md
  src/array/alloc.jl
  src/array/map-reduce.jl
  test/array.jl
Labels: bug, enhancement, array interface

#489 Fix import of ScopedValues in Julia v1.11
  src/Dagger.jl
Labels: bug, upstream

#487 Stop tracking the manifest files
  .github/workflows/Documentation.yml
  Manifest.toml
  docs/Manifest.toml
  docs/Project.toml
  docs/make.jl
  docs/src/api-dagger/functions.md
  src/chunks.jl
Labels: documentation, dependencies

#468 logging: Make IDs consistent, add helpers for logging and visualization
  Project.toml
  appveyor.yml
  benchmarks/benchmark.jl
  docs/make.jl
  docs/src/logging-advanced.md
  docs/src/logging-visualization.md
  docs/src/logging.md
  ext/GraphVizExt.jl
  ext/GraphVizSimpleExt.jl
  ext/PlotsExt.jl
  src/Dagger.jl
  src/compute.jl
  src/context.jl
  src/lib/logging-events.jl
  src/processor.jl
  src/sch/Sch.jl
  src/sch/dynamic.jl
  src/submission.jl
  src/threadproc.jl
  src/ui/graph-core.jl
  src/utils/logging-events.jl
  src/utils/logging.jl
  src/visualization.jl
  test/Project.toml
  test/logging.jl
Labels: enhancement, logging
