Repository JuliaParallel/Dagger.jl, pull requests merged in 2025-07, with the labels that each got.

#564 datadeps: Add at-stencil helper
  .buildkite/pipeline.yml
  docs/make.jl
  docs/src/index.md
  docs/src/stencils.md
  ext/CUDAExt.jl
  ext/IntelExt.jl
  ext/MetalExt.jl
  ext/OpenCLExt.jl
  ext/ROCExt.jl
  src/Dagger.jl
  src/sch/util.jl
  src/stencil.jl
  src/utils/haloarray.jl
  test/array/stencil.jl
  test/gpu.jl
  test/runtests.jl
  test/setup_gpu.jl
Labels: datadeps, stencils

#626 logging: Default disable metrics, enable all_task_deps
  src/utils/logging.jl
Labels: logging

#610 Add task affinity support with compute_scope and result_scope in Dagger.jl's `@spawn` macro
  docs/make.jl
  docs/src/task-affinity.md
  src/sch/Sch.jl
  src/sch/util.jl
  src/scopes.jl
  src/stream.jl
  src/thunk.jl
  test/options.jl
  test/runtests.jl
  test/scheduler.jl
  test/scopes.jl
  test/task-affinity.jl
  test/thunk.jl
Labels: scheduler, data movement

#627 Add `view` Support for Efficient DArray Chunk Slicing
  docs/src/datadeps.md
  src/datadeps.jl
  src/memory-spaces.jl
  test/datadeps.jl
Labels: array interface, datadeps

#630 Enhance DArray Distribution with Processor Assignment
  docs/src/darray.md
  src/array/alloc.jl
  src/array/darray.jl
  src/array/linalg.jl
  src/array/operators.jl
  test/array/allocation.jl
  test/array/linalg/core.jl
  test/runtests.jl
Labels: array interface, data movement
